.clients{
	&__content{
		padding-top: 120px;
		padding-bottom: 130px;
	}
	&__title{
		font-family: bigjohn;
		color: #222;
		font-size: 30px;
		font-weight: 100;
		margin-bottom: 42px;
		&::after{
			border-bottom: 2px solid #222;
			content: "";
			display: block;
			margin: 43px 0;
			margin-left: 47%;
			margin-right: 47%;
		}
	}
	&__block{
		display: inline-block;
		margin: 0 3%;
		max-width: 100%;
	}
}