.contact{
	position: relative;
	height: 500px;
	&__bg-colors{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__left-color, &__right-color{
		height: 100%;
		position: absolute;
		width: 50%;
	}
	&__left-color{
		background: #f2f2f2;
		left: 0;
	}
	&__right-color{
		background: #e4e4e4;
		right: 0;
	}
	&__location{
		padding-top: 120px;
		text-align: left;
		background: #f2f2f2;
	}
	&__feedback{
		padding-top: 128px;
		text-align: right;
		background: #e4e4e4;
		height: 500px;
	}
	&__title{
		font-family: bigjohn;
		color: #222;
		font-size: 24px;
		font-weight: 100;
		padding-bottom: 20px;
	}
	&__description{
		font-family: amble-light;
		color: #222;
		font-size: 22px;
		line-height: 40px;
	}
	&__twitter{
		background: url('../img/svg/twitter.svg') no-repeat;
		background-size: contain;
		display: block;
		height: 20px;
		width: 20px;
	}
	&__facebook{
		background: url('../img/svg/facebook.svg') no-repeat;
		background-size: contain;
		display: block;
		height: 20px;
		width: 20px;
	}
	&__linkedin{
		background: url('../img/svg/linkedin.svg') no-repeat;
		background-size: contain;
		display: block;
		height: 20px;
		width: 20px;
	}
	&__vimeo{
		background: url('../img/svg/vimeo.svg') no-repeat;
		background-size: contain;
		display: block;
		height: 20px;
		width: 20px;
	}
	&__behance{
		background: url('../img/svg/behance.svg') no-repeat;
		background-size: contain;
		display: block;
		height: 20px;
		width: 20px;
	}
	&__twitter, &__facebook, &__linkedin, &__vimeo, &__behance {
		display: inline-block;
		padding-right: 12px;
		color: #222;
	}
	&__input{
		font-family: amble-regular;
		font-size: 18px;
		color: #676767;
		font-style: italic;
		font-weight: 100;
		background: #e4e4e4;
		border-bottom: 2px solid #afafaf;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		display: inline-block;
		width: 275px;
		margin-left: 70px;
		height: 35px;
		padding-left: 25px;
	}
	&__textarea{
		width: 645px;
		background: #e4e4e4;
		border-bottom: 2px solid #afafaf;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		resize: none;
		font-family: amble-regular;
		font-size: 18px;
		color: #676767;
		font-weight: 100;
		margin-top: 100px;
		font-style: italic;
		height: 35px;
		padding-left: 25px;
	}
	&__input::placeholder,&__textarea::placeholder{
		font-family: amble-regular;
		font-size: 18px;
		color: #676767;
		font-weight: 100;
		font-style: italic;
		opacity: 1;
	}
	&__button{
		height: 54px;
		width: 177px;
		margin-top: 34px;
		border: 3px solid #222;
		font-family: amble-bold;
		font-size: 24px;
		color: #222;
	}
}