.footer{
	background: #222;
	&__logo{
		padding-top: 100px;
		padding-bottom: 70px;
	}
	&__description{
		font-family: amble-regular;
		color: #e4e4e4;
		font-size: 16px;
		margin: 0;
		padding-bottom: 100px;
	}
	&__description--orange{
		font-family: amble-bold;
		color: #c66f3f;
	}
}