.help{
    background: url(../img/background/help.jpg) center center;
    background-size: cover;
    height: 500px;
    &__content{
      text-align: center;
      padding: 204px 0;
    }
    &__btn{
      display: block;
      max-width: 425px;
      height:92px;
      background: none;
      border: 3px solid #fff;
      font-family: amble-bold;
      font-size: 30px;
      color: #fff;
      line-height: 92px;
      text-decoration: none;
      margin: 0 auto;
    }
}