.slider{
	&__title{
		font-family: bigjohn;
		color: #222;
		font-size: 30px;
		font-weight: 100;
		padding-top: 70px;
		margin-top: 0;
			&::after{
				border-bottom: 2px solid #222;
				content: "";
				display: block;
				margin: 43px 0;
				margin-left: 47%;
				margin-right: 47%;
			}
	}
	&__description{
		font-family: amble-light;
		font-size: 22px;
		color: #222;
	}
	&__item{
		display: inline-block;
		max-width: 100%;
		min-height: 152px;
	}
	&__photo-1{
		background: url(../img/grid/phone.png) no-repeat 50% 0%;
	}
	&__photo-2{
		background: url(../img/grid/notepad.png) no-repeat 50% 18%;
	}
	&__photo-3{
		background: url(../img/grid/pc.png) no-repeat 50% 12%;
	}
	&__wrapper{
		margin-top: 150px;
	}
	&__tit, &__des{
		font-family: amble-regular;
		color: #222;
		font-weight: 100;
	}
	&__tit{
		font-size: 24px;
		padding: 25px 0 0 0;
	}
	&__des{
		font-size: 16px;
	}
	.owl-carousel{
		-webkit-padding-start: 0;
		padding-bottom: 40px;
	}
	.owl-theme .owl-dots .owl-dot span {
		background: #d5d5d5;
	}
	.owl-theme .owl-dots .owl-dot.active span{
		background: #d87843;
	}
}
