.video{
	position: relative;
	background: url(../img/background/video.jpg) no-repeat center center;
	background-size: cover;
	&__play{
		background: url('../img/svg/play.svg') no-repeat;
		background-size: contain;
		display: inline-block;
		height: 30px;
		width: 30px;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		z-index: 10;
	}
	iframe{
		visibility: hidden;
	}
}
